/* 
 * Navbar CSS markup.
 */

* {
  box-sizing: border-box;
}

.main-container {
  margin: 0 auto;
  width: 800px;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-fixed-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px;
}

.navbar-inner {
  min-height: 40px;
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.nav-meta {
  font-weight: 300;
  font-size: 13px;
  margin-top: 1em;
  line-height: 0.25em;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #ffffff;
}

.question-container {
  margin: 20px auto 40px auto;
  width: 800px;
}

.navbar-brand {
  font-weight: 200;
}

.question-header-parent {
  margin: 100px auto 20px auto;
  background: #006DCC;
}

.exam-header-title {
  display: block;
  padding: 10px 0 10px 10px;
}

.question-header-parent .glyphicon-pencil {
  cursor: pointer;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  margin-left: 10px;
}

.question-header-parent .glyphicon-pencil:hover {
  color: #f3f3f3;
  transition: all 300ms linear;
}

.question-header-parent h3 {
  color: #FFF;
  display: inline-block;
  font-weight: 400;
  margin: 0;
}

.exam-edit-title {
  display: none;
  position: relative;
  padding: 10px 0 10px 10px;
}

.exam-edit-title .form-control {
  display: inline-block;
  width: 80%;
}

.exam-edit-title .exam-title-edit-btn {
  display: inline-block;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));;
  border: 1px solid #CCC;
  padding: 4px 10px;
  position: relative;
  right: 62px;
}

.question-select-container {
  position: relative;
  text-align: center;
}

.question-select-container .dropdown-menu {
  text-align: left;
}

.panel {
  border-radius: 0;
}

.panel-default {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));;
}

.dropdown-menu > li > a {
  color: #006DCC;
}

.required-check {
  position: absolute;
  top: 20px;
  left: 20px;
}

.panel-child-container .required-check input {
  position: absolute;
}

.panel-child-container .required-check span {
  left: 25px;
  top: 2px;
}

.question-select-container .glyphicon-trash {
  display: none;
  color: #555;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 25px;
}

.question-select-container .glyphicon-trash:hover {
  color: #ec394d;
  transition: all 300ms linear;
}


.required-check span {
  font-weight: bold;
  position: relative;
  top: 1px;
  left: 5px;
}

.question-select-container .preview {
  position: absolute;
  top: 13px;
  right: 20px;
}

.question-select-container .btn-default.preview {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));
}

.btn-default.add-question {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));
}

/* 
 * Question markup
 */

.question-container .panel {
  margin-bottom: 0px;
  border-style: 0;
  border-width: 1px 1px 1px 1px;
}

.panel-question {
  margin: 0 auto 0 auto;
  width: 92%;
}

.btn-yes,
.btn-no {
  cursor: pointer;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin: 40px 0 15px 0;
  position: relative;
  background: #FFF;
}

.btn-yes:hover, 
.btn-no:hover {
  background: #fbfbfb;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
  border: 1px solid #007FEE;
}

.btn-yes p,
.btn-no p {
  margin: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.btn-yes span,
.btn-no span {
  color: #0088CC;
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 10px;
}

/*
 * Child Panel Question Markup
 */

.dropdown-header .preview {
  float: right;
  margin-right: 10px;
}

.dropdown-header .glyphicon-trash {
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 30px;
  font-size: 20px;
  color: #999;
}

.dropdown-header .glyphicon-trash:hover {
  color: #ec394d;
  transition: all 300ms linear;
}

.panel-child-container {
  display: none;
}

.panel-child-container.panel {
  border-width: 0;
}

.panel-child-container .panel-header {
  background-color: #66B8FF;
  height: 30px;
  padding: 5px;
  position: relative;
}

.panel-header .glyphicon-remove {
  color: #FFF;
  font-size: 16px;
}

.question-title {
  background: #007FEE;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
}

.question-title .qtitle {
  display: block;
}

.question-title .question-btn {
  display: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));
  border: 1px solid #ccc;
  font-size: 11px;
  padding: 1px 6px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.question-title p {
  color: #FFF;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 0;
  /*min-width: 100px;*/
  width: 100%;
  margin-right: 30px;
  padding-left: 10px;
}

.question-title span {
  color: #FFF;
  font-size: 16px;
}

.question-title input.form-control  {
  display: none;
  height: 22px;
  width: 100%;
  margin-right: 25px;
}

.question-title span.glyphicon-pencil {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 8px;
  right: 7px;
}

.question-template, 
.question-menu-container {
  position: relative;
  padding: 0;
  text-align: center;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #66B8FF;
  position: absolute;
  top: -45px;
  left: 50%;
}

.question-builder-container,
.preview-question-container {
  /*border-left: 5px solid #66B8FF;*/
  padding: 20px 0;
  margin: 0 auto;
  min-height: 300px;
  text-align: left;
}

.question-builder-container label {
  width: 85%;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
}

.question-builder-container input {
  margin: 0 auto;
  width: 85%;
}

.dropdown-header {
  padding: 20px 0;
  border-bottom: 1px solid #EEE;
  border-left: 5px solid #66B8FF;
}

/* Add child question button */
.panel-child-container .add-child-question-container {
  background: #f3f3f3;
  border-top: 1px solid #EEE;
}

.panel-child-container .add-child-question-container .add-child-question-btn {
  /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));*/
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
  background-image: -moz-linear-gradient(0 100% 90deg, #bbb, #fff);
  background-color: #fff;
  border: none;
  border-radius: 0;
  color: #444;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0,5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.9);
  }
  100% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2);
  }

}

.panel-child-container .add-child-question-container .add-child-question-btn:focus,
.panel-child-container .add-child-question-container .add-child-question-btn:hover {
  -webkit-animation: pulse 1.5s infinite ease-in-out;
}

.question-builder-container .list-group {
  width: 85%;
  margin: 20px auto;
  position: relative;
}

.question-builder-container .list-group li:hover {
  cursor: pointer;
  background: #fbfbfb;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
}

.menu-of-steps-template .question-builder-container .list-group span.glyphicon-arrow-right {
  color: #0088CC;
}

.menu-of-steps-template .question-builder-container .list-group .glyphicon-pencil,
.menu-of-steps-template .question-builder-container .list-group .glyphicon-remove {
  color: #FFF;
}

.question-builder-container .list-group span {
  /*color: #0088CC;*/
  /*float: right;*/
}

.add-question-container {
  margin: 0 auto;
  width: 800px;
  padding: 40px 0;
}

.no-question,
.preview-area {
  text-align: center;
  padding-top: 100px;
}

.no-question p,
.preview-area p {
  font-size: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1); 
}

.yes-no-template {
  text-align: left;
}

.panel-child-container .question-template {
  border-left: 5px solid #66B8FF;
}

/* Header Text Markup */
label.header-text {
  margin: 60px 0 0 60px;
  padding-bottom: 10px;
}

.preview-container p.header-text {
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
}

/* Text box reply */
.text-box-template textarea {
  width: 60%;
  margin: 0 auto;
}

.text-box-template .glyphicon-pencil {
  cursor: pointer;
  margin-left: 5px;
  position: absolute;
  right: 10px;
  top: 15px;
}

.text-box-template .glyphicon-pencil:hover {
  color: #006DCC;
  transition: all 300ms linear;
}

.text-box-label-controls {
  width: 60%;
  margin: 30px auto 0 auto;
  position: relative;
}

.text-box-label-controls .header-text {
  margin: 0;
}

.text-box-label-controls .form-control {
  position: relative;
  display:none;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.text-box-label-btn {
  display: none;
  position: absolute;
  top: 3px;
  right: 4px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));;
  padding: 3px 10px;
  border: 1px solid #EEE;
}

/* Override menu highlighting */
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #FFF;
  background-color: #0088CC;
  transition: all 100ms linear;
}

/* Preview container styles */

.preview-container .panel-child-container {
  margin: 20px 0;
  border: 1px solid #CCC;
}

.preview-container .panel-child-container .question-template {
  border: none; 
}

.preview-heading {
  background: #FFF;
}

.preview-heading .panel-body h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 200;
  color: #898989;
}

.preview-container p {
  margin: 0;
  padding: 0;
}

.preview-container.panel-default {
  background: #FFF;
}

.preview-container .btn-yes-preview,
.preview-container .btn-no-preview {
  color: #FFF;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0087CC), to(#0043CC));;
  border: 1px solid #002A80;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
}

.preview-container .btn-yes-preview p,
.preview-container .btn-no-preview p {
  font-size: 20px;
}

.preview-container .preview-question {
  color: #333;
  font-size: 24px;
  margin: 40px 0;
  text-align: center;
}

.panel-child-container .btn.preview {
  display: none;
}

/* 
 * Flip card CSS 
 */

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flip-container, .front, .back {
  width: 100%;
  height: 100%;
}

.flipper {
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  /*position: absolute;
  top: 0;
  left: 0;*/
}

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front {
  z-index: 2;
}