/* 
 * Navbar CSS markup.
 */
.navbar {
  margin-bottom: 40px;
}

.navbar-fixed-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px;
}

.navbar-inner {
  min-height: 40px;
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.nav-meta {
  font-weight: 300;
  font-size: 13px;
  margin-top: 1em;
  line-height: 0.25em;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #ffffff;
}

.question-container {
  margin: 100px auto;
  width: 800px;
}

.navbar-brand {
  font-weight: 200;
}

.question-header-parent {
  background: #006DCC;
}

.question-container h3 {
  color: #FFF;
  font-weight: 400;
  padding: 10px;
}

.question-select-container {
  position: relative;
  text-align: center;
}

.question-select-container .dropdown-menu {
  text-align: left;
}

.panel {
  border-radius: 0;
}

.dropdown-menu > li > a {
  color: #006DCC;
}

.required-check {
  position: absolute;
  top: 20px;
  left: 20px;
}

.required-check span {
  font-weight: bold;
  position: relative;
  top: 1px;
  left: 5px;
}

.question-select-container .preview {
  position: absolute;
  top: 13px;
  right: 20px;
}

.question-select-container .btn-default.preview {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));
}

/* 
 * Question markup
 */

.question-container .panel {
  margin-bottom: 0px;
  border-style: 0;
  border-width: 1px 1px 0 1px;
}

.panel-question {
  margin: 0 auto;
  width: 80%;
}

.btn-yes,
.btn-no {
  border: 1px solid #CCC;
  border-radius: 4px;
  margin: 40px 0;
}

.btn-yes p,
.btn-no p {
  text-transform: uppercase;
}
