/* 
 * Navbar CSS markup.
 */

 * {
  box-sizing: border-box;
 }

.navbar {
  margin-bottom: 40px;
}

.navbar-fixed-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px;
}

.navbar-inner {
  min-height: 40px;
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.nav-meta {
  font-weight: 300;
  font-size: 13px;
  margin-top: 1em;
  line-height: 0.25em;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #ffffff;
}

.question-container {
  margin: 100px auto;
  width: 800px;
}

.navbar-brand {
  font-weight: 200;
}

.question-header-parent {
  background: #006DCC;
}

.question-container h3 {
  color: #FFF;
  font-weight: 400;
  padding: 10px;
}

.question-select-container {
  position: relative;
  text-align: center;
}

.question-select-container .dropdown-menu {
  text-align: left;
}

.panel {
  border-radius: 0;
}

.panel-default {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));;
}

.dropdown-menu > li > a {
  color: #006DCC;
}

.required-check {
  position: absolute;
  top: 20px;
  left: 20px;
}

.required-check span {
  font-weight: bold;
  position: relative;
  top: 1px;
  left: 5px;
}

.question-select-container .preview {
  position: absolute;
  top: 13px;
  right: 20px;
}

.question-select-container .btn-default.preview {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));
}

.btn-default.add-question {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));
}

/* 
 * Question markup
 */

.question-container .panel {
  margin-bottom: 0px;
  border-style: 0;
  border-width: 1px 1px 1px 1px;
}

.panel-question {
  margin: 0 auto 0 auto;
  width: 92%;
}

.btn-yes,
.btn-no {
  cursor: pointer;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin: 40px 0 15px 0;
  position: relative;
  background: #FFF;
}

.btn-yes:hover, 
.btn-no:hover {
  background: #fbfbfb;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
  border: 1px solid #007FEE;
}

.btn-yes p,
.btn-no p {
  margin: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.btn-yes span,
.btn-no span {
  color: #0088CC;
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 10px;
}

/*
 * Child Panel Question Markup
 */

 .dropdown-header .preview {
  float: right;
  margin-right: 10px;
 }

 .panel-child-container {
  display: none;
 }

 .panel-child-container.panel {
  border-width: 0;
 }

.panel-child-container .panel-header {
  background-color: #66B8FF;
  padding: 5px;
  position: relative;
}

.panel-header .glyphicon-remove {
  color: #FFF;
  font-size: 16px;
}

.question-title {
  background: #007FEE;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
}

.question-title p {
  color: #FFF;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 0;
  min-width: 100px;
  margin-left: 10px;
}

.question-title span {
  color: #FFF;
  font-size: 16px;
}

.question-template, 
.question-menu-container {
  position: relative;
  padding: 0;
  text-align: center;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #66B8FF;
  position: absolute;
  top: -45px;
  left: 50%;
}

.question-builder-container,
.preview-question-container {
  /*border-left: 5px solid #66B8FF;*/
  padding: 20px 0;
  margin: 0 auto;
  min-height: 300px;
  text-align: left;
}

.question-builder-container label {
  margin-left: 65px;
}

.question-builder-container input {
  margin: 0 auto;
  width: 80%;
}

.dropdown-header {
  padding: 20px 0;
  border-bottom: 1px solid #EEE;
  border-left: 5px solid #66B8FF;
}

.question-builder-container .list-group {
  width: 50%;
  margin: 20px auto;
}

.question-builder-container .list-group li:hover {
  cursor: pointer;
  background: #fbfbfb;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
}

.question-builder-container .list-group span {
  color: #0088CC;
  float: right;
}

.add-question-container {
  margin: 40px 0;
}



.no-question,
.preview-area {
  text-align: center;
  padding-top: 100px;
}

.no-question p,
.preview-area p {
  font-size: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1); 
}

.yes-no-template {
  text-align: left;
}

.panel-child-container .question-template {
  border-left: 5px solid #66B8FF;
}

/* Override menu highlighting */
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #FFF;
  background-color: #0088CC;
  transition: all 100ms linear;
}


/* Flip card CSS */
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container, .front, .back {
    width: 100%;
    height: 100%;
}

.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.front {
    z-index: 2;
}